BOT_TOKEN=8320356880:AAEG6Hbx4hE66gZAQpZEy6gV6baMHVSG92U
PUBLIC_URL=https://lead-webhook.onrender.com
CHATTERFY_WEBHOOK=https://app.chatterfy.ai/api/bots/webhooks/f507f4b6-a47c-41c6-8193-16ae20df1733/updateDialog
PORT=10000
